/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Base Styling */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;

}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}