.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Base Styling */
*,::before,::after {
  margin:0;
  padding: 0;
  box-sizing: inherit;
}

html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
ul{
    list-style-type:none;
}
img{
    width: 100%;
}

/* navigation */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.nav_logo{
    width:150px;
}
.nav_logo_img{
    object-fit: contain;
}
.nav_ul{
    display: flex;
    align-items:center;
}
.nav_ul >li{
    margin-right: 8rem;
}
.nav_link{
    font-weight: 700;
    font-size: 1.6rem;
    color: #333;
    transition: all 0.3s;
}
.nav_link:hover{
    color: #ff3700;   
}
.nav_btn{
    padding: 1.3rem 4rem;
    background-color: #ff3700;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
}
.nav_btn:hover{
    background: #a92500;
}

/* Hero CSS Section */
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 70vh;
    align-items: center;
    width:80%;
    margin: auto;

}

.hero__image{
    width: 550px;
    height: auto;
    object-fit: contain;
}

.hero__text{
    margin-left: 3rem;
}

.hero__text p{
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #002147;
    font-weight: bold;
    margin-bottom: 2rem;
}

.hero__text h1{
    font-size: 6rem;
    color: #002147;
    line-height: 6.5rem;
    margin-bottom: 3rem;
}

.hero__btn button{
    padding: 1.3rem 4rem;
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.hero__btn--1{
    background: #002147;
    border: none;
    color: white;
}

.hero__btn--2{
    border: 3px solid rgb(152, 152, 152);
    margin-left: 2rem;
    background: #04ab4c;
    color: white;
    border: none;
}

/* About CSS Section */
.about__section{
    padding-top: 5rem;
}

.about{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

.about__image{
    grid-column: 1 / span 1;
    width: 550px;
    height: auto;
    object-fit: contain;
}

.about__info{
    grid-column: 2 / span 2;;
}

.about__subheading{
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #002147;
    font-weight: bold;
    margin-bottom: 1 rem;
}

.about__heading{
    font-size: 4.6rem;
    color: #002147;
    line-height: 6.5rem;
    margin-bottom: 1.8rem;
    font-weight: bold;
}

.about__para{
    font-size: 1.6rem;
    color: #0000009c;
    font-weight: 400;
    margin-bottom: 3rem;
}

.about__list__item{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.about__list__box{
    width: 50px;
    height: 50px;
    background: rgb(255, 0, 68);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__list__box .fa-check{
    font-size: 2rem;
    color: white;
}

.about__list__text{
    margin-left: 2rem;
}

.about__list__text h1{
    color: #002147;
    margin-bottom: 1rem;
}

.about__list__text p{
    font-size: 1.4rem;
    color: #0000009c;
    font-weight: 400;
    width: 80%;
}

/* Course CSS Section */
.course__section{
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.course__heading{
    text-align: center;
    font-size: 6rem;
    color: #002147;
    font-weight: bold;
    margin-bottom: 5rem;
}

.course{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    gap: 3rem;
}

.course__card{
    background: #fff;
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    overflow: hidden;
}

.course__image{
    width: 100%;    
    height: 300px;
    object-fit: contain;
}

.course__image img{
    width: 100%;
    height: 100%;
    transform: scale(0.90);
    transition: all 0.4s;
}

.course__instructor{
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.course__instructor__img{
    width: 35px;
    height: 35px;
    object-fit: contain;
    border-radius: 100%;
    overflow: hidden;
}

.course__instructor h3{
    margin-left: 1rem;
    font-size: 1.4rem;
    color: #333;
    font-weight: bold;
    text-transform: capitalize;
}

.course__title{
    font-size: 1.7rem;
    padding: 2rem;
    color: #333333fb;
    font-weight: 700;
}

.course__footer{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course__rating{
    display: flex;
    align-items: center;
}

.course__rating i{
    font-size: 2rem;
    color: orange;
}

.course__rating-count{
    color: orange;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 0.4rem;
}

.course__rating-count span{
    color: gray
}

.course__price{
    font-size: 1.7rem;
    color: #002147;
    font-weight: bold;
}

.course__card:hover .course__image img{
    transform: scale(1);
}

/* Team Section CSS */

.team__section{
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.team__heading{
    text-align: center;
    font-size: 6rem;
    color: #002147;
    font-weight: bold;
    margin-bottom: 5rem;
}